

<mat-card>
  <mat-card-content>
    <h4 class="mb-32">Chip input</h4>

    <mat-form-field class="demo-chip-list">
      <mat-chip-list #chipList>
    
        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
          (removed)="remove(fruit)">
          {{fruit.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
    
      </mat-chip-list>
    </mat-form-field>
  </mat-card-content>
</mat-card>

